{% load static %}
<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item logo" href="{% url 'requestmanager:app_render' %}">
          <img src="{% static 'img/logo-navbar.png' %}" alt="UALG">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Pedidos</a>
            <div class="navbar-dropdown">
              <a href="{% url 'requestmanager:list_outros' %}" class="navbar-item">Pedidos Outros</a>
              <a href="{% url 'requestmanager:list_horario' %}" class="navbar-item">Pedido Horário</a>
              <a href="{% url 'requestmanager:list_salas' %}" class="navbar-item">Pedido Sala</a>
              <a href="{% url 'requestmanager:list_unidadeCurricular' %}" class="navbar-item">Pedido Unidade Curricular</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Import/Export</a>
            <div class="navbar-dropdown">
              <a href="{% url 'datamanager:export_pedidos_xls' %}" class="navbar-item">Export Pedidos</a>
              <a href="{% url 'datamanager:import_RUC' %}" class="navbar-item">Import RUC</a>
              <a href="{% url 'datamanager:import_DSD' %}" class="navbar-item">Import DSD</a>
              <a href="{% url 'datamanager:import_salas' %}" class="navbar-item">Import Salas</a>
              <a href="{% url 'datamanager:import_DOCENTE' %}" class="navbar-item">Import DOCENTE</a>
            </div>
          </div>
            
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Funcionários</a>
            <div class="navbar-dropdown">
              <a href="{% url 'funcionariomanager:create_anoletivo' %}" class="navbar-item">Criar Ano Letivo</a>
              <a href="{% url 'funcionariomanager:list_anoletivo' %}" class="navbar-item">Listar Anos Letivos</a>
            </div> 
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Estatisticas</a>
            <div class="navbar-dropdown">
              <a href="{% url 'statmanager:pedidos_media' %}" class="navbar-item"> Media de pedidos </a>
              <a href="{% url 'statmanager:funcionarios_stats' %}" class="navbar-item"> Média de funcionários </a>
            </div>
          </div>

        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item">
              Criar Utilizador
            </a>
            <a class="navbar-item">
              Login
            </a>
          </div>
        </div>
    </div>
</nav>
