{% extends 'requestmanager/layout.html' %}
{% load static %}

{% block content %}
    <form class="has-text-centered" method="post" id="form">
        {% csrf_token %}
        <h1 style="text-align: center; font-weight: bold;  font-size: larger;">Criar Pedido de Unidade Curricular</h1>
        <label class="label">Assunto</label>
        <input name="assunto" class="block input" required>
        {#        {{ form.assunto }}#}
        <label class="label">Descrição</label>
        <textarea name="descricao" class="block textarea" required></textarea>
        {#        {{ form.descricao }}#}
        <div class="block">
            <label class="label">Data Alvo</label>
            <input type="date" name="data" v-model="data" min="{{ min_date }}" max="{{ max_date }}" required>
        </div>
        <div id="table" class="block columns is-centered">
            <div class="column">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width:10%">Ação</th>
                        <th style="width:10%">Turma</th>
                        <th style="width:10%">Unidade Curricular</th>
                        <th style="width:10%">Descrição</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(value, i) in pedidos" :key="i">
                        <td>
                            <div class="select">
                                <div class="select">
                                    <select :name="'acao' + i" v-model="value.acao" required>
                                        <option v-for="(option, index) in acao" :key="index" :value=option.id> [[
                                            option.nome ]]
                                        </option>
                                    </select>
                                </div>
                        </td>
                        <td>
                            <div class="select">
                                <select :name="'turma' + i" v-model="value.turma" required>
                                    <option v-for="(option, index) in turma" :key="index" :value=option.id> [[
                                        option.nome ]]
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="select">
                                <select v-if="hide" :name="'unidade' + i" v-model="value.unidade" required>
                                    <option v-for="(option, index) in unidade" :key="index" :value=option.id> [[
                                        option.nome ]]
                                    </option>
                                </select>
                                <select v-else disabled :name="'unidade' + i" v-model="value.unidade" required>
                                    <option> INDISPONIVEL</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="">
                                <textarea v-model="value.assunto" :name="'assunto' + i" required></textarea>
                            </div>
                        </td>

                        <td>
                            <b-button rounded type="s-info is-light" size="is-small" @click="removeLine(i)">
                                <span class="icon">
                                    <i class="fas fa-lg fa-solid fa-trash"></i>
                                </span>
                            </b-button>
                        </td>

                    </tr>

                    <td>
                        <div style="float: left;">
                            <input type="button" class="button" style=" margin-right: 10px; padding: 5px"
                                   value="Adicionar Linha" @click="addLine()">
                        </div>
                    </td>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="block"><input class="button is-primary" type="submit" value="Submeter">
            <input class="button is-danger" type=button value="Cancelar" onClick="javascript:history.go(-1);"></div>
    </form>
    <script>

        var app = new Vue({

            delimiters: ["[[", "]]"],
            el: '#table',
            data() {
                return {
                    acao: [],
                    turma: [],
                    data: [],
                    unidade: [],
                    pedidos: [],
                    acoes_init: [],
                    hide: true,
                    acaoselect: [],
                    n: 1,
                    data: '',
                    old_date: '',
                    max_date: ''
                }
            },
            async created() {
                this.acaoselect[0] = 'Criar',
                    await this.fetchData()

            },
            methods: {
                async fetchData() {
                    pathname = window.location.pathname.split('/')
                    id = pathname[pathname.length - 1]
                    this.acao = await axios.get('http://127.0.0.1:8000/api/acao/')
                    this.acao = this.acao.data
                    this.unidade = await axios.get('http://127.0.0.1:8000/api/uc_unidadecurricular/' + 3)
                    this.unidade = this.unidade.data
                    this.turma = await axios.get('http://127.0.0.1:8000/api/tipoturma/')
                    this.turma = this.turma.data
                },
                valueAcao(value, i) {
                    this.acaoselect[i] = value
                    this.hide = this.getOption(i)
                    console.log(this.acaoselect[i])
                },
                getOption(i) {
                    console.log(this.acaoselect[i])
                    if (this.acaoselect[i] == "Criar")
                        return true//false
                    else {
                        return true
                    }
                    this.max_date = tempDate

                    if (this.max_date < new Date(this.data) || this.data === '') this.data = newDate
                },
                addLine() {
                    this.n++
                    this.pedidos.push({
                        id: '',
                        acao: '',
                        turma: '',
                        unidade: '',
                        assunto: ''
                    })
                    console.log(this.pedidos)
                    //this.indexes.push(this.n)
                },
                removeLine(i) {
                    //this.pedidos = this.pedidos.filter((x) => x != i);
                    //if(this.n > 1)
                    this.$delete(this.pedidos, i)
                    this.n--;
                },
            },
        })
    </script>

{% endblock content %}